// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 40px;
}

a, a:visited {
  color: #009933;
}

a:hover {
  color: #00B33C;
}
